<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-default %>

<body>
  <%- include partials/header-default %>

  <%- body %>
  
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
</body>

</html>